/* =====================================
   RESPONSIVE DESIGN
   Mobile First
===================================== */



@media(max-width:1200px){



.dashboard-cards{


    grid-template-columns:repeat(2,1fr);


}



}





@media(max-width:992px){



.sidebar{


    width:80px;


}



.sidebar h4{


    display:none;


}



.sidebar a{


    justify-content:center;


}



.sidebar a i{


    font-size:25px;


}



.main-content{


    margin-left:80px;


}




}




@media(max-width:768px){



body{


    overflow-x:hidden;


}



.sidebar{


    position:relative;

    width:100%;

    height:auto;


}




.main-content{


    margin-left:0;

    padding:15px;


}




.topbar{


    flex-direction:column;

    align-items:flex-start;

    gap:15px;


}




.dashboard-cards{


    grid-template-columns:1fr;


}





.row{


    flex-direction:column;


}




.panel{


    padding:15px;


}





.table-responsive{


    overflow-x:auto;


}




.btn{


    width:100%;

}



}





@media(max-width:480px){



h2{


    font-size:22px;


}



.card-dashboard h3{


    font-size:24px;


}



}